[submodule "parent"]
	path = parent
	url = git@github.com:newmediaworks/nmw-oss-parent.git
[submodule "email-taglib"]
	path = email-taglib
	url = git@newmediaworks.github.com:newmediaworks/nmw-email-taglib.git
[submodule "website"]
	path = website
	url = git@newmediaworks.github.com:newmediaworks/nmw-oss-website.git
[submodule "payment-taglib"]
	path = payment-taglib
	url = git@newmediaworks.github.com:newmediaworks/nmw-payment-taglib.git
